<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link
      rel="icon"
      type="image/x-icon"
      href="{% static '/images/favicon.ico'%}"
    />

    <!-- Page level plugin CSS-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <script
      type="text/javascript"
      src="http://127.0.0.1:35729/livereload.js"
    ></script>

    <link rel="stylesheet" href="{% static 'css/base.css'%}" type="text/css" />

    {% block links %} {% endblock %}
  </head>

  <body>
    <div class="navbar navbar-light bg-light">
      {% block sidebar %}
      <ul class="sidebar-nav">
        <b style="color: #0084ff; font-weight: bold; font-style: italic">
          Cooper test from gpx
        </b>
        <span class="tab"></span>
      </ul>
      {% endblock %}
    </div>
    <div class="container-fluid">
      <div class="col-sm-4">
        This website generates an <u> interactive</u> chart that allows you to
        analyse your gpx files from your runs. No matter if you did just one 12
        minute test or you ran a more complex interval run it will help you find
        the fastest 12 minute segment.
        <br />
        <a
          href="https://en.wikipedia.org/wiki/Cooper_test#Interpretation_of_results"
          target="_blank"
          >Interpretation of results</a
        >
        <br />
        <br />
        {% block body %} {% endblock %} {% block error %}
        <p style="color: red">{{error}}</p>
        {% endblock %} <br />
        {% block chart %} {% endblock %}
      </div>
      <form action="https://www.paypal.com/donate" method="post" target="_top">
        <input type="hidden" name="hosted_button_id" value="QHZ9BSL65X88S" />
        <input
          type="image"
          src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif"
          border="0"
          name="submit"
          title="PayPal - The safer, easier way to pay online!"
          alt="Donate with PayPal button"
        />
        <img
          alt=""
          border="0"
          src="https://www.paypal.com/en_PL/i/scr/pixel.gif"
          width="1"
          height="1"
        />
      </form>
    </div>
  </body>
</html>
