{% extends "base.html" %} {% block body %}

<form id="upload-form" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <input type="file" name="gpxfile" accept=".gpx" required />
  <br />
  <br />
  <input type="submit" name="submit" value="Upload gpx" />
</form>

<div id="message" style="display: none">
  Processing the file, please wait...
</div>
<script>
  document
    .getElementById("upload-form")
    .addEventListener("submit", function (e) {
      // Show the processing message
      document.getElementById("message").style.display = "block";
      // Allow the form to continue submitting
    });
</script>

{% endblock %}
